.background {
  background: url("./image/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.h {
  text-align: center;
  font: bold 20pt Arial, sans-serif;
  color: rgb(232, 230, 244);
  padding: 15px 0;
}

.div_select {
  text-align: center;
}

.div_select select {
  font: 15pt;
}

input {
  color: #000;
}

/* Sphera */

.ball {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin: 30px auto 0;
  background-color: #ebecf4;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -o-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -ms-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  /* animation: sphera 2s linear;
  -webkit-animation: sphera 2s linear; */
}

@keyframes sphera {
  from {
    left: 0;
  }
  to {
    right: 50%;
  }
}

.ecvator {
  display: block;
  width: 200px;
  height: 200px;
  margin: 30px auto 0;
  border: 1px dashed black;
  border-radius: 50%;
  transform: rotateX(70deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: rotateX(70deg);
  -moz-transform: rotateX(70deg);
  -ms-transform: rotateX(70deg);
  -o-transform: rotateX(70deg);
}

.radius {
  width: 50%;
  position: relative;
  border: 1px solid black;
  top: 50%;
}

.diametr {
  position: relative;
  border: 1px solid black;
  top: 50%;
}

.dataName {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 5%;
}

/* Backround */
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #bfda7b 0%,
    #44107a 33%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

input {
  color: #000;
}
